<mat-card *ngIf="hero">
  <mat-card-header>
    <mat-toolbar color="primary">Modificar Heroe - {{hero.name | uppercase}} - id: {{hero.id}}</mat-toolbar>
  </mat-card-header>
  <mat-card-content>

      <mat-form-field >
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Ironman" [(ngModel)]="hero.name" value="{{hero.name}}">
      </mat-form-field>

    <div>
      <button mat-raised-button color="primary" (click)="save()">Guardar</button>
    </div>
  </mat-card-content>
</mat-card>
