<p>
    <mat-toolbar color="primary">
        <span>{{title}}</span>
        <span class="spacer"></span>
        <a routerLink="/dashboard">
            <button mat-button>Dashboard</button>
        </a>
        <a routerLink="/heroes">
            <button mat-button>Heroes</button>
        </a>
    </mat-toolbar> 
</p>
<div style="display: contents; grid-template-columns: repeat(3, 1fr); grid-gap: 10px">
    <div style="grid-column: 1 / 3; grid-row: 1;">
        <router-outlet></router-outlet>
    </div>
    <div style="grid-column: 3 / 3; grid-row: 1;">
        <app-messages></app-messages>
    </div>
</div>




