<mat-card style="height: 100%;">
  <mat-card-header>
    <mat-toolbar color="primary">Top Heroes</mat-toolbar>
  </mat-card-header>
  <mat-card-content>
    <div style="display: flex; align-items: stretch; gap: 1rem; padding-top: 1rem;" >
      <mat-card *ngFor="let hero of heroes" style="width: 100%;">
        <mat-card-header>
          <div mat-card-avatar>
            <img src="{{hero.logo}}"  alt="">
          </div>
          <mat-card-title>{{hero.name}}</mat-card-title>
          <mat-card-subtitle>Marvel Heroes</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{hero.image}}"  height="300">
        <mat-card-content>
          <p>{{hero.descripcion}}</p>
        </mat-card-content>
        <mat-card-actions>
          <a routerLink="/detail/{{hero.id}}">
            <button mat-raised-button color="primary">Modificar</button>
          </a>        
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>    



